{% extends "notes/base.html" %}

{% block header_class %}py-2 mb-1 border-bottom{% endblock %}
{% block header %}
    {# Заголовок #}
    <div class="container-fluid d-flex">
        <div class="header-name" id="header-name-container">
            <form class="header-form" id="header-form" method="post" data-url="{% url 'update_header_name' %}">
                {% csrf_token %}
                {% with default_title="My to-do list "|add:date %}
                    {% if user.is_authenticated %}
                        {% with value=user_header_title|default:default_title %}
                            <h1 class="header-title">
                                <input class="header-name-input"
                                        id="header-name"
                                        type="text"
                                        value="{{ value }}"
                                        maxlength="15"
                                        data-default-date="{{ date }}"
                                        autocomplete="off">
                                <label for="header-name" class="visually-hidden"></label>
                            </h1>
                        {% endwith %}
                    {% else %}
                        {% with value=request.session.new_header_name|default:default_title %}
                            <h1 class="header-title">
                                <input class="header-name-input"
                                       id="header-name"
                                       type="text"
                                       value="{{ value }}"
                                       maxlength="15"
                                       data-default-date="{{ date }}"
                                       autocomplete="off">
                                <label for="header-name" class="visually-hidden"></label>
                            </h1>
                        {% endwith %}
                    {% endif %}
                {% endwith %}
            </form>
        </div>
    </div>
{% endblock %}

{% block main_class %}py-3 mb-2 d-flex flex-column{% endblock %}
{% block main %}
    {# Добавление новых задач #}
    <div class="container-fluid d-flex">
        <form class="new-task-form" id="new-task-form" accept-charset="UTF-8" method="post" data-url="{% url 'create_task' %}">
            {% csrf_token %}
            <h1 class="new-task-h">
                <input class="new-task"
                    type="text"
                    id="new-task"
                    autofocus="autofocus"
                    placeholder="Write your next task here..."
                    required
                    maxlength="50"
                    autocomplete="off">
                <label class="visually-hidden" for="new-task">Add another task</label>
            </h1>
        </form>
    </div>

    {# Контейнер для сообщения и списка незавершенных задач #}
    <div class="incompleted-task-container container-fluid {# flex-grow-1 #} d-flex flex-column">
        {# Сообщение при отсутствии задач #}
        <div class="d-flex align-items-center justify-content-center {% if tasks %}d-none{% endif %}" id="information-message-container">
            <div class="information-message">
                <h1 class="information m-0">There are no unfinished tasks, enter a new task.</h1>
            </div>
        </div>
        {# Контейнер задач #}
        <div class="task-list" id="task-container">
            {% for task in tasks %}
                {% include 'notes/task/task.html' with task=task %}
            {% endfor %}
        </div>
    </div>

    {# Контейнер для списка завершенных задач #}
    <div class="completed-task-container container-fluid flex-grow-1 d-flex flex-column {% if not complete_tasks %}d-none{% endif %}">
        <div class="task-list completed" id="completed-task-container">
            {% for task in complete_tasks %}
                {% include 'notes/task/task.html' with task=task %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    {% load static %}
    <script type="module" src="{% static 'js/utilities.js' %}"></script>
    <script type="module" src="{% static 'js/new-task-transfer.js' %}"></script>
{% endblock %}
