{% extends "notes/base.html" %}

{% block header_class %}py-2 mb-1 border-bottom{% endblock %}
{% block header %}
    <div class="container-fluid d-flex">
        <div class="header-name" id="header-name-container">
            <form class="header-form" id="header-form" method="post" data-url="{% url 'update_header_name' %}">
                {% csrf_token %}
                {% with default_title="My to-do list "|add:date %}
                    {% if user.is_authenticated %}
                        {% with value=user_header_title|default:default_title %}
                            <h1 class="header-title">
                                <input class="header-name-input"
                                        id="header-name"
                                        type="text"
                                        value="{{ value }}"
                                        maxlength="15"
                                        data-default-date="{{ date }}"
                                        autocomplete="off">
                                <label for="header-name" class="visually-hidden"></label>
                            </h1>
                        {% endwith %}
                    {% else %}
                        {% with value=request.session.new_header_name|default:default_title %}
                            <h1 class="header-title">
                                <input class="header-name-input"
                                       id="header-name"
                                       type="text"
                                       value="{{ value }}"
                                       maxlength="15"
                                       data-default-date="{{ date }}"
                                       autocomplete="off">
                                <label for="header-name" class="visually-hidden"></label>
                            </h1>
                        {% endwith %}
                    {% endif %}
                {% endwith %}
            </form>
        </div>
    </div>
{% endblock %}

{% block main_class %} py-3 mb-2 {% endblock %}
{% block main %}
    <div class="container-fluid d-flex">
        <form class="new-task-form" id="new-task-form" accept-charset="UTF-8" method="post" data-url="{% url 'create_task' %}">
            {% csrf_token %}
            <h1 class="new-task-h">
                <input class="new-task"
                    type="text"
                    id="new-task"
                    autofocus="autofocus"
                    placeholder="Write your next task here..."
                    required
                    maxlength="40"
                    autocomplete="off">
                <label class="visually-hidden" for="new-task">Add another task</label>
            </h1>
        </form>
    </div>

    <div class="container-fluid d-flex">
        <div class="task-list" id="task-container">
            {% for task in tasks %}
            <div class="task-item d-flex align-items-center justify-content-between p-3 mb-2 bg-white shadow-sm rounded">
                <form class="task-form" data-task-id="{{ task.id }}" data-url="{% url 'update_task' task.id %}">
                    {% csrf_token %}
                    <input type="text"
                        class="task"
                        id="task-{{ task.id }}"
                        name="task-title"
                        value="{{ task.title }}"
                        data-task-id="{{ task.id }}"
                        autocomplete="off">
                    <label for="task-{{ task.id }}" class="visually-hidden">Task</label>
                </form>
                <button class="btn btn-link text-danger p-0 ms-2 delete-task" data-task-id="{{ task.id }}">
                    <i class="bi bi-x-circle"></i>
                </button>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    {% load static %}
    <script type="module" src="{% static 'js/utilities.js' %}"></script>
    <script type="module" src="{% static 'js/new-task-transfer.js' %}"></script>
{% endblock %}
