{% extends 'notes/base.html' %}

{% block main %}
    <div class="form-signin w-100 m-auto text-center">
        <h1 class="h3 mb-3 fw-normal">Account Restore</h1>
        <form method="post" id="reset-confirm-form" data-url="{% url 'password_reset_confirm' token=token %}">
            {% csrf_token %}
            <div class="form-floating">
                <input
                    type="password"
                    class="form-control js-input-password"
                    id="new_password"
                    placeholder="New Password"
                    required
                    minlength="3"
                    maxlength="15"
                    pattern="(?=.*[A-Z])[a-zA-Zа-яА-Я0-9]{3,15}"
                    title="Пароль должен содержать символ верхнего регистра и быть длиной от 3 до 15 символов">
                <label for="new_password">New Password</label>
            </div>
            <div class="form-floating mb-2">
                <input
                    type="password"
                    class="form-control js-input-password-confirm"
                    id="confirm_password"
                    placeholder="Confirm Password"
                    required>
                <label for="confirm_password">Confirm Password</label>
            </div>
            <button type="submit" class="btn btn-primary w-100 py-2">Reset password</button>
        </form>
    </div>
{% endblock %}

{% block script %}
    {% load static %}
    <script type="module" src="{% static 'js/password-reset-form-confirm-transfer.js' %}"></script>
{% endblock %}