:root {
    --bg-color: #F8F9FA;
    --container-bg: #f8f9fa;
    --text-color: #212529;
    --accent-color: #0D6EFD;
    --border-color: #DEE2E6;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

h1, header {
    color: var(--text-color);
    font-weight: normal;
    font-size: 20px;
    line-height: 10px;
}

.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
}

.user-login {
    color: var(--text-color);
}

footer {
    width: 100%;
}

/*#theme-toggle i {*/
/*    font-size: 14px !important;*/
/*}*/

.social-icon {
    width: 24px;
    height: 24px;
}

.social-icon:hover {
    opacity: 0.7;
}

.form-signin {
    background: var(--container-bg);
    max-height: 360px;
    max-width: 360px;
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
}

/* Поля ввода */
.form-control {
    border: 1px solid var(--border-color);
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--accent-color);
}

.text-center {
    text-align: center;
}

.link-hover {
    color: #0D6EFD !important;
}

.link-hover:hover {
    color: #212529 !important;
}

.header-title {
    font-size: 25px;
}

.header-form {
    margin: 0;
    padding: 0;
}

.header-name {
    border: none;
    background: transparent;
    outline: none;
}

.header-name:focus {
    outline: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

.new-task-h {
    font-size: 36px;
}

.new-task-form {
    margin: 0;
    padding: 0;
}

.new-task {
    display: block;
    border: none;
    background: transparent;
    outline: none;
    width: 800px;
}

.new-task:focus {
    outline: none;
}

.task-list {
    width: 100%;
}

.task-item {
    border: 1px solid #ddd;
    transition: background 0.3s ease-in-out;
    width: 100%;
    margin: 0 auto;
}

.task-item:hover {
    background-color: #f8f9fa;
}

.task {
    font-size: 22px;
    border: none;
    outline: none;
}